

 <div th:fragment="scripts">


<!--**********************************
        Scripts
    ***********************************-->
	<script th:src="@{/front/plugins/common/common.min.js}"></script>
	<script th:src="@{/front/js/custom.min.js}"></script>
	<script th:src="@{/front/js/settings.js}"></script>
	<script th:src="@{/front/js/gleek.js}"></script>
	<script th:src="@{/front/js/styleSwitcher.js}"></script>

	<!-- Chartjs -->
	<script th:src="@{/front/./plugins/chart.js/Chart.bundle.min.js}"></script>
	<!-- Circle progress -->
	<script
		th:src="@{/front/./plugins/circle-progress/circle-progress.min.js}"></script>
	<!-- Datamap -->
	<script th:src="@{/front/./plugins/d3v3/index.js}"></script>
	<script th:src="@{/front/./plugins/topojson/topojson.min.js}"></script>
	<script th:src="@{/front/./plugins/datamaps/datamaps.world.min.js}"></script>
	<!-- Morrisjs -->
	<script th:src="@{/front/./plugins/raphael/raphael.min.js}"></script>
	<script th:src="@{/front/./plugins/morris/morris.min.js}"></script>
	<!-- Pignose Calender -->
	<script th:src="@{/front/./plugins/moment/moment.min.js}"></script>
	<script
		th:src="@{/front./plugins/pg-calendar/js/pignose.calendar.min.js}"></script>
	<!-- ChartistJS -->
	<script th:src="@{/front/./plugins/chartist/js/chartist.min.js}"></script>
	<script
		th:src="@{/front/./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"></script>



	<script th:src="@{/front/./js/dashboard/dashboard-1.js}"></script>
	</div>